<a href="https://colab.research.google.com/github/sumitarora92/Internet-Service-Provider-Customer-Churn/blob/Internet-Service-Provider-CustoInternet-Service-Provider-Customer-Churnmer-Churn/Internet_Service_Provider_Customer_Churn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [11]:
df = pd.read_csv('internet_churn.csv.csv')

In [12]:
df

,id,tv_subscriber,movie_subscriber,subscription_age,bill_avg,remaining_contract,service_failure_count,download_avg,upload_avg,download_over_limit,churn
0,15,1,0,11.95,25,0.14,0,8.4,2.3,0,0
1,18,0,0,8.22,0,NaN,0,0.0,0.0,0,1
2,23,1,0,8.91,16,0.00,0,13.7,0.9,0,1
3,27,0,0,6.87,21,NaN,1,0.0,0.0,0,1
4,34,0,0,6.39,0,NaN,0,0.0,0.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
72269,1689648,1,1,0.09,0,1.25,0,0.0,0.0,0,1
72270,1689676,1,0,0.06,1,1.63,0,0.8,0.0,0,1
72271,1689679,1,0,0.02,0,2.19,0,1.5,0.2,0,1
72272,1689733,0,0,0.01,0,0.72,0,0.0,0.0,0,1
72273,1689744,1,1,0.01,0,0.82,0,0.0,0.0,0,1

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72274 entries, 0 to 72273
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     72274 non-null  int64
 1   tv_subscriber          72274 non-null  int64
 2   movie_subscriber       72274 non-null  int64
 3   subscription_age       72274 non-null  float64
 4   bill_avg               72274 non-null  int64
 5   remaining_contract     50702 non-null  float64
 6   service_failure_count  72274 non-null  int64
 7   download_avg           71893 non-null  float64
 8   upload_avg             71893 non-null  float64
 9   download_over_limit    72274 non-null  int64
 10  churn                  72274 non-null  int64
dtypes: float64(4), int64(7)
memory usage: 6.1 MB

In [14]:
df.dropna(subset=['download_avg'], how='any', inplace=True)
df.dropna(subset=['upload_avg'], how='any', inplace=True)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 71893 entries, 0 to 72273
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     71893 non-null  int64
 1   tv_subscriber          71893 non-null  int64
 2   movie_subscriber       71893 non-null  int64
 3   subscription_age       71893 non-null  float64
 4   bill_avg               71893 non-null  int64
 5   remaining_contract     50375 non-null  float64
 6   service_failure_count  71893 non-null  int64
 7   download_avg           71893 non-null  float64
 8   upload_avg             71893 non-null  float64
 9   download_over_limit    71893 non-null  int64
 10  churn                  71893 non-null  int64
dtypes: float64(4), int64(7)
memory usage: 6.6 MB

In [17]:
df = outlier(df, 'bill_avg' )
df

NameError: ignored